<div class="card">
    <style>
        .card {
            box-shadow: var(--shadow);
            padding: var(--spacing-small);
            margin-bottom: var(--spacing-medium);
            transition: box-shadow var(--transition-quick);
            user-select: none;
            cursor: pointer;
        }

        .card .card-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .card:hover {
            box-shadow: var(--shadow-big);
        }
    </style>

    <div class="card-bottom">
        <a href="{{to}}">
            <h1>{{cardName}}</h1>
        </a>
    </div>

    <p>{{clickedText}}</p>

    <slot></slot>
</div>
